@import url('../public/scss/Main.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1a1a2e;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
